
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@600&display=swap');
*{
    margin:0;
    padding:0;
    box-sizing: border-box;
    font-family: 'Poppins', cursive;
}
/* the body */

html {
    font-size: 13px;
    scroll-behavior: smooth;
    color: #fff;
    background-image: url(images/b1.png);
    background-size: 100% 100%;
}
body{
    min-width: 10vh;
}
/* Header part */
.head{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding:12px;
}
header{
    padding-bottom:20px ;
    width: 100%;
    position: fixed;
    display: flex;
    justify-content:space-evenly;
    align-items: center;
    flex-direction: initial;
    flex-wrap: wrap;
    background-color: #141517;
    z-index: 1000;
}
header .logo{
    color: #fff;
    font-weight: 700;
    text-decoration: none;
    font-size: 2.5em;
    text-transform: uppercase;
    letter-spacing: 2px;
    font-family: cursive;
}
header ul{
    position: relative;
    font-size: 17px;
    display: flex;
    justify-content: center;
    align-items: center;

}
header ul li{
    list-style-type: none;
    
}
header ul li a{
    text-decoration: none;
    padding: 7px 20px;
    color: #fff;
    border-radius: 20px;

}
header ul li a:hover,
header ul li a.active{
    background: linear-gradient(
        0deg,
        rgba(4, 248, 65, 1)25%,
        rgba(0, 132, 255, 1) 100%
      );
    color: #000000;
}
.gall, .about, .skills, .contact, .home{
    padding-top: 85px;
    height: 100vh;
}
.gall .content , .about .box{
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap; 
    flex-direction: row;
}
.gall .content , .about .box{
    padding: 43px;
    background: linear-gradient(
      0deg,
      rgba(0, 0, 0, 0.8)35%,
      rgba(0, 0, 0, 0.8) 100%
    );
    width: 98%;
    box-shadow: 3px 3px;
    height:80vh;
    margin-top: 1%;
    margin-left: 1%;
    border-radius: 20px;
    margin-bottom: 50px;
}
.skills .content{
    
    padding: 43px;
    background: linear-gradient(
      0deg,
      rgba(0, 0, 0, 0.8)35%,
      rgba(0, 0, 0, 0.8) 100%
    );
    width: 80%;
    height:84vh;
    box-shadow: 3px 3px;
    margin-top: 1%;
    margin-left: 8%;
    border-radius: 20px;
    margin-bottom: 50px;
}
/* Home page*/
.home{
    display: flex;
    background: url(images/111.png) no-repeat center;
    height: 100vh;
    color: #fff;
    min-height: 500px;
    background-size: cover;
}
.home .max-width{
  width: 100%;
  display: flex;
}
.home .home-content img{
    border-radius: 50%;
    position: relative;
    object-fit: cover;
    width: 50%;
    top: auto;
    max-width: 40%;
}
.home .home-content{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    position: relative;
    padding:0px 0px;
    flex-direction: row;
    flex-wrap: wrap;
    padding-left: 0px;
    padding-top: 0px;
}

.home .home-content h2{
    font-size: 25px;
}
.home .home-content h1{
    font-size: 38px;
    font-weight: 600;
    margin-left: -3px;
    font-weight: 400;
    text-shadow: 9px 9px 9px rgb(0, 0, 0);

}
.home .home-content h1 span{
    color: rgb(172, 82, 255);
    font-family: cursive;
} 
/* about page */
.about .title, .gall .title, .skills .content .title{
    text-align: center;
    font-size: 40px;
    font-weight: 900;
}
.about .box .content{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    position: relative;
    padding:0px 0px;
    flex-direction: row-reverse;
    flex-wrap: wrap;
    top: -50px;
}
.about .box .content .right{
    width:42% ;
}
.about .box .content .right .image{
    position: relative;
    height: auto;
    left: 10px;
    object-fit: cover;
    border-radius: 6px;
    width: 100%;
    display: flex;
    margin-top: auto;
    margin-left: auto;
    top: auto;
    max-width: 400%;
}

.about .box .content .left{
    width:58% ;
}
.about .box .content .left .discription{
    font-size: 12px;
    margin-top: 1px;
}
/* gallery page */
div.gallery {
    padding-left: 20px;
    margin: 5px;
    float: left;
    width: 240px;
  }
.gallary .text{
    display: flex;
    align-items: center;
}
div.gallery:hover {
    padding: 10px 10px 10px;
}
  
div.gallery img {
    width: 100%;
    height: 100%;
    max-width: 50%;
    
}
/* skill page */
.skills .content{
    position: relative;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap; 
    flex-direction: row;
}

.skills .content .skills-content .column{
    
    padding-left: 5%;
    padding-right: 5%;
}

.skills .content .skills-content .right .bars{
    margin-bottom: 13px;
}
.skills .content .skills-content .right .info{
    display: flex;
    margin-bottom: 2px;
    align-items: center;
    justify-content: space-between;
}
.skills .content .skills-content .right span{
    font-weight: 500;
    font-size: 20px;
}
.skills .content .skills-content .right .line{
    height: 15px;
    width: 100%;
    background: lightgrey;
    position: relative;
    border-radius: 20px;
}
.skills .content .skills-content .right .line::before{
    content: "";
    position: absolute;
    height: 100%;
    left: 0;
    top: 0;
    background: #30AD81;
}
.skills-content .right .c::before{
    width: 85%;
}
.skills-content .right .python::before{
    width: 55%;
}
.skills-content .right .java::before{
    width: 68%;
}
.skills-content .right .html::before{
    width: 79%;
}
.skills-content .right .perl::before{
    width: 59%;
}
/* contact page */
.contact{
    position: relative;
    padding: 50px 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-size: cover;

    background: linear-gradient(
      0deg,
      rgba(0, 0, 0, 0.8)35%,
      rgba(0, 0, 0, 0.8) 100%
    );
    width: 98%;
    height: 100%;
    box-shadow: 3px 3px;
    margin-top: 10%;
    margin-left: 1%;
    border-radius: 20px;
}
.contact .content{  
    max-width: 800px;
    text-align: center;
    font-size: 20px;
    margin-top: 10px;
}

.contact .title h2{
    text-align: center;
    font-size: 36px;
    font-weight: 500;
}

.contact .container{
    width: 100%;
    display:flex ;
    justify-content: center;
    align-items: center;
    margin-top: 30px;
}
.container .contactinfo{
    width: 50%;
    display:flex ;
    flex-direction: column;
}
.container .contactinfo.box{
    position: relative;
    padding: 20px 0;
    display: flex;
}
.contact .container .contactinfo .box .text{
    display: flex;
    margin-left: 20px;
    font-size: 16px;
    color:rgb(255, 255, 255);
    flex-direction: column;
    font-weight: 300000;

} 
.container .contactinfo .box .text h3{
    color:rgb(255, 255, 255);
    font-weight: 500;
} 
.contact .container .contactinfo img{
    max-width: 20px;
}
.contact .box a{
    text-decoration: none;
}
.contactform{
    width: 40%;
    padding:50px;
    background: rgba(255, 255, 255, 0.2);
    border-radius: 10px;
    background-image: url(images/b1.png);
    background-position: 100% 100%;
    height: 98%;
}
.contactform h2{
    font-size: 26px;
    color: rgb(255, 255, 255);
    font-weight: 500;
}
.contactform .in{
    position: relative;
    width: 100%;
    margin-top: 10px;
}
.contact .box .text span{
    color: #19A286;
}
.contact .in input,
.contact .in textarea{
    width: 100%;
    padding: 4px 0;
    font-size:16px ;
    margin: 10px 0;
    border: none;
    border-bottom: 2px solid rgb(0, 0, 0);
    outline: none;
    resize: none;
}
.contact .contactform .in [type="submit"]{
    width: 100px;
    background: rgba(152, 8, 255, 0.774);
    color: #fff;
    border: none;
    cursor: pointer;
    padding: 8px;
    font-size:15px;
    border-radius: 20px;
}
/* footer page */
.footer .footer-bottom{
    margin-top: 20px;
    background: #000 ;
    color: #808080;
    height: 30px;
    width: 100%;
    position: bottom;
    text-align: center;
    bottom: 90px;
}

/* responsive media query */
@media only screen and (max-width: 400px) {
    .about .box{
        height: 117%;

    }
    .about .content {
        height: 350px;
        width: 350px;
    }
    .skills{
        padding-top: 5px;
        height: 10vh;
    }
    .footer .footer-bottom{
        height: 200%;
    }
    header ul{
        font-size: 13px;
    
    }
    
}

@media (max-width: 400px) {
    .max-width{
        padding: 0 5px;
    }
    .skills-content{
        height: 100px;
    }
    div.gallery:hover {
        visibility: hidden;
    }
    
}
@media only screen and(max-width:715px){
    .gall .content{
        top: 30px;
        align-items: center;
        padding-left: 25%;
    }
    .gall .title{
        align-items: center;
        padding-left: 25%;
    }
    div.gallery img {
        width: 100%;
        height: 100%;
        max-width: 20%;
        
    }
    div .text{
        display: flex;
        flex-direction: column;
        
    }
    div.gallery:hover {
        padding: 0px;
    }
}
@media only screen and (max-width:400px)
{
    header ul li a{
        padding: 0px 7px;
    }
    
    .about .box{
        top: 20px;
    }
    .about, .skills, .contact, .home{
        padding-top: 1px;
        height: 100vh;
    }
    div .gallery img {
        width: 50%;
        height: auto;
        
    }
    
    
}
@media only screen and (min-width:1000px){
    .about .content img{
        height: 40px;
        width: 600px;
    }
}
@media only screen and (max-width:991px)
{
    .contact{
        padding: 50px;
        
    }
    .container{
        flex-direction: column;
        
        
    }
    .contactinfo{
        margin-bottom: 40px;
        display: flex;
        align-items: center;
        
    }
    .container .contactinfo,
    .contactform{
        width: 100%;
    }
    .contact .container .contactinfo .box .text{
        padding-top: 1px;
        margin-left: 50px;
        font-size: 13px;
    
    
    } 
    .contactform h2{
        font-size: 20px;
        color: rgb(255, 255, 255);
        font-weight: 200;
        padding-bottom: 1px;
    }
    
    .skills .content .column{
        width: 100%;
        margin-bottom: 20px;
    }
    .skills .content .skills-content .right span{
        font-weight: 600;
        font-size: 20px;
    }
    .skills .content .skills-content .right .line{
        height: 10px;
        width: 100%;
        background: lightgrey;
        position: relative;
        border-radius: 20px;
    }
    .about .title{
        font-size: 30px;
    }
}
@media only screen and(max-width:715px){
    div.gallery {
        padding-left: 80px;
        margin: 50px;
        width: 10px;
      }
    
}
