
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@600&display=swap');
*{
    margin:0;
    padding:0;
    box-sizing: border-box;
    font-family: 'Poppins', cursive;
}

body{
    min-height: 10 vh; 
}
html {
    font-family: "Share Tech Mono", monospace;
    font-size: 12px;
    box-sizing: border-box;
    scroll-behavior: smooth;
    color: #ffffff;
    background-color: #121622;
    width: 100%;
    background-image: url(images/ba.png);
    background-size: 100% 100%;
}
header{
    position: sticky;
    top: 0;
    left: 0;
    width: 100%;
    padding:10px 60px;
    display: flex;
    justify-content:space-between;
    align-items: center;
    flex-direction: initial;
    flex-wrap: wrap;
    background-image: url(images/bb.png);
    z-index: 1000;
}
header .logo{
    color: #fff;
    font-weight: 700;
    text-decoration: none;
    font-size: 2.5em;
    text-transform: uppercase;
    letter-spacing: 2px;
    font-family: cursive;
}
header ul{
    position: relative;
    font-size: 17px;
    display: flex;
    justify-content: center;
    align-items: center;

}
header ul li{
    list-style-type: none;
    
}
header ul li a{
    text-decoration: none;
    padding: 6px 15px;
    color: #fff;
    border-radius: 20px;
    margin-left: -10px;

}
header ul li a:hover,
header ul li a.active{
    background: white;
    color: #000000;
}
.work, .about, .contact{
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap; 
    flex-direction: row;
    padding: 43px;
    background: linear-gradient(
      0deg,
      rgba(20, 22, 22, 0.9)35%,
      rgba(115, 30, 185, 0.9) 100%
    );
    width: 96%;
    height: 80vh;
    margin-top: 2%;
    margin-left: 2%;
    border-radius: 30px;
}

.home{
    width: 96%;
    height: 85vh;
    margin-top: 2%;
    margin-left: 2%;
    padding: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-size: contain;
    position: relative;
    border-radius: 30px;
    
}

.home .content .background-image{
    position: absolute;
    top: 0;
    left:0;
    width: 100%;
    height: 100%;
    object-fit: cover ;
    z-index: -100000;
    border-radius: 30px;
}
.home .page{
  
    width: 100%;
    max-width: 58rem;
    text-transform: uppercase;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    
    width: 100%;
  min-height: 100vh;
  max-width: 60rem;
  margin: auto;
}
.home .content .text{
  margin-top: 40px; 
}
.home .content .text h1{
    letter-spacing: 0.5rem;
    font-size: 0rem;
    font-weight: 600;
    overflow: hidden;
    white-space: nowrap;
    font-family: Georgia, 'Times New Roman', Times, serif;
    animation: typing 5s steps(27), blink 1s ease-in-out 7s infinite;
    width: 100%;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    margin: auto;
    border-right: 4px solid rgba(255, 255, 255, 1);
}
@keyframes typing {
    75% {
      width: 0ch;
      color: rgb(0, 0, 0);
    }
    100% {
      width: 20ch;
    }
  }
  
  @keyframes blink {
    0% {
      border-right: 80px solid rgba(255, 255, 255, 0);
    }
    100% {
      border-right: 10px solid rgb(194, 194, 194);
    }
  }
.home .content .text p{
    font-size: 4rem;
    margin: 1rem 0;
    color: rgba(249, 105, 14, 1);
    background: linear-gradient(
    to right,
    rgb(84, 249, 14) 0%,
    rgba(102, 51, 153, 1) 100%
    );
    -webkit-text-fill-color: transparent;
    -webkit-background-clip:text;
}

.home .content .text .home-title{
    font-size: 30px;
}
.center-pic{
    top: 30px;
    position: relative;
    max-width: 40%;
    border-radius: 50%;
    
}

.about .title, .work .title, .contact .title{
    text-align: center;
    font-size: 40px;
    font-weight: 900;
    margin-bottom: 20px;
    padding-bottom: 20px;
}
.about .box .content .right{
    width:42% ;
}
.about .box .content .right .image{
    position: relative;
    height: auto ;
    object-fit: cover;
    border-radius: 6px;
    width: 100%;
    display: flex;
    margin-top: auto;
    margin-left: auto;
    top: auto;
    max-width: 400px;
}
.about .box .content{
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: relative;
    top: auto;
    left: auto;
    width: auto;
    padding:0px 0px;
    flex-direction: row-reverse;
    flex-wrap: wrap;
}
.about .box .content .left{
    width:58% ;
}
.about .box .content .left .discription{
   /*font-size: 15px;
    font-weight: 700;
    margin-top: 40px;
    margin-bottom: 20px;
    margin-right:-20px;
    float: right;*/
    font-size: 14px;
    margin-top: 5px;
    margin-left: auto;
    margin-bottom: auto;
}
.contact {
    position: relative;
    min-height: 100vh;
    padding: 50px 50px;
    display:flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-size:cover ;

}

.contact .content{
    max-width: 800px;
    text-align: center;
}
.contact .content h1{
    font-size: 36px;
    font-weight: 500;
    color: 0;
}
.contact .container{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 30px;
    justify-content: space-between;
}

.contact .content .container .left{
    width: 200%;
    display: flex;
    flex-direction: column;
}
.contact .content .container .left .address{
    position: relative;
    justify-items: stretch;
    padding: 20px 0;
}


.contact .right{
  width: 100%;
  float: left;
  background: linear-gradient(
      135deg,
      rgba(131, 232, 235, 0.9)30%,
      rgb(115, 43, 184, 0.9) 100%
    );
  border-bottom: 20px;
  border-radius: 20px;
  padding: 50px 20px 50px 20px;
}
.contact .content .left .address img{
    font-size: 10vh;
    max-width: 20px;
}
.contact .content .right .lay .button{
    height:40px ;
    width: 87%;
    
    
}
.contact .content .right .lay .button button{
    height:80%;
    width: 85%;
    font-size: 15px;
    font-family: fantasy;
    
}
.contact .content .right .lay .button :hover{
    background: rgb(2, 226, 255);
    color: black;
    

}

.contact .content .right .lay h2{
    font-size: 25px;
    font-family: cursive;
}
.footer .footer-bottom{
    position: static;
    bottom: 0;
    background: #000 ;
    color: #808080;
    margin-top: 7px;    
    height: 20px;
    width: 100%;
    text-align: center;
}