
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@600&display=swap');
*{
    margin:0;
    padding:0;
    box-sizing: border-box;
    font-family: 'Poppins', cursive;
}

body{
    max-height: 100 vh; 
}
html {
    font-size: 13px;
    scroll-behavior: smooth;
    color: #fff;
    background-image: url(images/b1.png);
    background-size: 100% 100%;
}
.head{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding:12px;
}
header{
    
    width: 98%;
    margin-bottom: 50px;

    display: flex;
    justify-content:space-evenly;
    align-items: center;
    flex-direction: initial;
    flex-wrap: wrap;
    background-image: url(images/bb.png);
    z-index: 1000;
}
header .logo{
    color: #fff;
    font-weight: 700;
    text-decoration: none;
    font-size: 2.5em;
    text-transform: uppercase;
    letter-spacing: 2px;
    font-family: cursive;
}
header ul{
    position: relative;
    font-size: 17px;
    display: flex;
    justify-content: center;
    align-items: center;

}
header ul li{
    list-style-type: none;
    
}
header ul li a{
    text-decoration: none;
    padding: 6px 20px;
    color: #fff;
    border-radius: 20px;

}
header ul li a:hover,
header ul li a.active{
    background: linear-gradient(
        0deg,
        rgba(4, 248, 65, 1)25%,
        rgba(0, 132, 255, 1) 100%
      );
    color: #000000;
}
.work, .about, .skills, .contact{
    padding-top: 85px;
    height: 100vh;
}
.work .content , .about .box{
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap; 
    flex-direction: row;
}
.work .content , .about .box, .skills .content, .contact .content{
    padding: 43px;
    background: linear-gradient(
      0deg,
      rgba(0, 0, 0, 0.8)35%,
      rgba(0, 0, 0, 0.8) 100%
    );
    width: 98%;
    box-shadow: 3px 3px;
    height:80vh;
    margin-top: 1%;
    margin-left: 1%;
    border-radius: 20px;
    margin-bottom: 50px;
}
.skills .content{
    padding: 43px;
    background: linear-gradient(
      0deg,
      rgba(0, 0, 0, 0.8)35%,
      rgba(0, 0, 0, 0.8) 100%
    );
    width: 50%;
    height:80vh;
    margin-top: 1%;
    margin-left: 28%;
    border-radius: 20px;
    margin-bottom: 50px;
}

.home{
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    position: relative;
    background: url(images\c1.jpg);

}

.home .content .background-image{
    position: absolute;
    top: 0;
    left:0;
    width: 100%;
    height: 100%;
    object-fit: cover ;
    z-index: -1000;
}
.home .page{
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: relative;
    top: 20px;
    padding:100px 50px;
    flex-direction: row-reverse;
    flex-wrap: wrap;
}
.home .content .text{
  margin-top: 40px; 
  color:#ffffff;
}
.home .content .text h1{
    letter-spacing: 0.5rem;
    font-size: 0rem;
    font-weight: 600;
    overflow: hidden;
    white-space: nowrap;
    font-family: Georgia, 'Times New Roman', Times, serif;
    animation: typing 5s steps(27), blink 1s ease-in-out 7s infinite;
    width: 100%;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    margin: auto;
    border-right: 4px solid rgba(255, 255, 255, 1);
}

.home .content .text p{
    font-size: 4rem;
    margin: 1rem 0;
    color: rgba(249, 105, 14, 1);
    background: linear-gradient(
    to right,
    rgb(84, 249, 14) 0%,
    rgba(102, 51, 153, 1) 100%
    );
    -webkit-text-fill-color: transparent;
    -webkit-background-clip:text;
}

.home .content .text .home-title{
    font-size: 30px;
}
.center-pic{
    top: 100px;
    position: relative;
    height: 200px;
    width: 200px;
    border-radius: 50%;
}

.about .title, .work .title, .skills .content .title{
    text-align: center;
    font-size: 40px;
    font-weight: 900;
}
.about .box .content{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    position: relative;
    padding:0px 0px;
    flex-direction: row-reverse;
    flex-wrap: wrap;
}
.about .box .content .right{
    width:42% ;
}
.about .box .content .right .image{
    position: relative;
    height: auto ;
    left: 10px;
    object-fit: cover;
    border-radius: 6px;
    width: 100%;
    display: flex;
    margin-top: auto;
    margin-left: auto;
    top: auto;
    max-width: 400px;
}

.about .box .content .left{
    width:58% ;
}
.about .box .content .left .discription{
    font-size: 14px;
    margin-top: 5px;
    margin-left: auto;
    margin-bottom: auto;
}

.skills .content{
    position: relative;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap; 
    flex-direction: row;
}

.skills .content .skills-content .column{
    
    padding-left: 5%;
    padding-right: 5%;
}

.skills .content .skills-content .right .bars{
    margin-bottom: 13px;
}
.skills .content .skills-content .right .info{
    display: flex;
    margin-bottom: 2px;
    align-items: center;
    justify-content: space-between;
}
.skills .content .skills-content .right span{
    font-weight: 500;
    font-size: 20px;
}
.skills .content .skills-content .right .line{
    height: 15px;
    width: 100%;
    background: lightgrey;
    position: relative;
    border-radius: 20px;
}
.skills .content .skills-content .right .line::before{
    content: "";
    position: absolute;
    height: 100%;
    left: 0;
    top: 0;
    background: #30AD81;
}
.skills-content .right .c::before{
    width: 85%;
}
.skills-content .right .python::before{
    width: 55%;
}
.skills-content .right .java::before{
    width: 68%;
}
.skills-content .right .html::before{
    width: 79%;
}
.skills-content .right .perl::before{
    width: 59%;
}

.contact .content{  
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.contact .title{
    max-width: 70px;
    text-align: center;

}
.contact .title h2{
    text-align: center;
    font-size: 40px;
    font-weight: 900;
}

.contact .container{
    width: 100%;
    display:flex ;
    justify-content: center;
    align-items: center;
    height: 70vh;
}
.container .contactinfo{
    width: 52%;
    display:flex ;
    flex-direction: column;
}
.container .contactinfo.box{
    position: relative;
    padding: 20px 0;
    display: flex;
}
.contact .container .contactinfo .box .text{
    display: flex;
    margin-left: 20px;
    font-size: 16px;
    color:rgb(255, 255, 255);
    flex-direction: column;
    font-weight: 300;

} 
.container .contactinfo .box .text h3{
    color:rgb(255, 255, 255);
    font-weight: 500;
} 
.contact .container .contactinfo img{
    max-width: 20px;
}
.contact .box a{
    text-decoration: none;
}
.contactform{
    width: 40%;
    padding: 20px;
    background: rgba(255, 255, 255, 0.2);
    border-radius: 10px;
    background-image: url(images/b1.png);
    background-position: 100% 100%;
    height: 98%;
}
.contactform h2{
    font-size: 20px;
    color: rgb(255, 255, 255);
    font-weight: 500;
}
.contactform .in{
    position: relative;
    width: 70%;
    margin-top: 1px;
}
.contact .box .text span{
    color: #19A286;
}
.contact .in input,
.contact .in textarea{
    width: 100%;
    padding: 3px 0;
    font-size:16px ;
    margin: 10px 0;
    border: none;
    border-bottom: 2px solid rgb(0, 0, 0);
    outline: none;
    resize: none;
}
.contact .contactform .in [type="submit"]{
    width: 100px;
    background: rgba(152, 8, 255, 0.774);
    color: #fff;
    border: none;
    cursor: pointer;
    padding: 8px;
    font-size:15px;
    border-radius: 20px;
}

.footer .footer-bottom{
    position: static;
    bottom: 0;
    background: #000 ;
    color: #808080;
    margin-top: 7px;    
    height: 20px;
    width: 100%;
    text-align: center;
}
/* responsive media query start */
@media (max-width:530px) {
    .head{
        position: fixed;
        top: 0;
        left: 0;
        width: auto;
        padding:12px;
    }
    header .logo{
        color: #fff;
        font-weight: 700;
        text-decoration: none;
        font-size: 1.5em;
        text-transform: uppercase;
        letter-spacing: 1px;
        font-family: cursive;
                
    }
    header ul{
        position: relative;
        font-size: 8px;
        display: flex;
        justify-content: space-around;
        align-items: center;
        height: 20vh;
        width: 10%;
        left: -20%;
        top: 0;

    }
    
}